{% extends "base.html" %}

{% block content %}
<div class="container mx-auto flex justify-center mt-10">
    <div class="flex space-x-4">
        <a href="/user" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline text-xl">Users</a>
        <a href="/pending" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline text-xl">Pending Posts</a>
        <a href="/approved" class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline text-xl">Approved Posts</a>
        <a href="/declined" class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline text-xl">Declined Posts</a>
        <a href="/solved" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:shadow-outline text-xl">Solved Cases</a>
    </div>
</div>
{% endblock %}
