<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      integrity="sha512-P5mCn/lfy2+JIX4ebVqGfi0/6syBF5IqEXYlrHBD/rRi8i/H/FfPU+D/EbGCQ7iLunbq8nlMGG6P9iGN5/6J4g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Harano Biggopti</title>
</head>
<body>
  <nav class="bg-green-950 py-4 sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center px-4">
      <a href="/" class="logo"><img src="static/logo.png" alt="Logo" width="150px"></a>
      <ul class="flex space-x-4">
        <li><a href="/" class="text-white hover:text-gray-200"><b>Home</b></a></li>
        <li><a href="#" class="text-white hover:text-gray-200"><b>About</b></a></li>
        <li><a href="/create_posts" class="text-white hover:text-gray-200"><b>posts</b></a></li>
        <li><a href="/login" class="text-white hover:text-gray-200"><b>Login/Signup</b></a></li>
        <li><a href="/logout" class="text-white hover:text-gray-200"><b>Logout</b></a></li>
      </ul>
    </div>
  </nav>

  {% block content %}
  
  {% endblock %}

</body>
</html>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
